div.rank {border-bottom: solid 2px #555151; 
}

div.rank3 {
    border-bottom: solid 2px #ad7d1d;
}

div.rank2 {
    border-bottom: solid 2px #bdbbb9;
}

div.rank1 {
    border-bottom: solid 2px #ffb92e;
}

#radar-chart-container {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

#radar-chart {
    background-color: #ffffff;
    border: 1px solid #eee;
}

#radar-chart-container3 {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

#radar-chart3 {
    background-color: #ffffff;
    border: 1px solid #eee;
}

/* 軸のスタイル */
.radar-axis {
    stroke: #aaa;
    stroke-width: 1;
}

/* グリッドの五角形のスタイル (内側) */
.radar-grid-polygon {
    fill: none;
    stroke: #ddd;
    stroke-width: 0.5;
    stroke-dasharray: 2 2; /* 破線 */
}

/* 外枠の五角形のスタイル */
.radar-outer-frame {
    fill: none;
    stroke: #888; /* 少し濃い色に */
    stroke-width: 1.5; /* 太めに */
}

/* データ表示用の多角形のスタイル */
.radar-data-polygon {
    fill: rgba(75, 192, 192, 0.6); /* 半透明の塗りつぶし */
    stroke: rgb(75, 192, 192);
    stroke-width: 2;
    transition: all 0.3s ease-in-out;
}

/* 項目名のスタイル */
.radar-label {
    font-size: 14px;
    text-anchor: middle;
    fill: #333;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

ul.menu{
    background-color: #fff;
}
ul.menu > li{
    background-color: #fff;
    margin-bottom: 10px;
    border: 3px solid #80ffff;
    border-radius: 6px;
}
.main{
    border-top: 3px solid #80ffff;
    padding-left: 20px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #444;
    border-top: 1px solid #d2d6de;
    z-index: 1;
    background-color: #FFF;
    text-align: center;
}
footer p{
    padding: 15px;
}
.wrapper{
    position: relative;
    min-height: 100vh;
}