body{
    margin: 0;
}
.wrapper{
    position: relative;
    min-height: 100vh;
}
ul.menu{
    background-color: #80ffff;
}
ul.menu > li{
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #444;
    border-top: 1px solid #d2d6de;
    z-index: 1;
    background-color: #FFF;
    text-align: center;
}
footer p{
    padding: 15px;
}